@mixin img-responsive() {
	max-width: 100%;
	height: auto;
	display:block;
}


@mixin elem($element) {
	
	&__#{$element} {
		@content;	
	}
	
}

@mixin mod($modifier) {
	
	&--#{$modifier} {
		@content;	
	}
	
}